<!doctype html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/CSS/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
    <h2 style="color: red;">{{info}}</h2>
    </div>
    
    {{>footer}}
</body>

</html>